/* Global Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(135, 153, 148);
}

.main nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(9, 75, 75);
	font-family: sans-serif;
	height: 57px;
}

.main nav a {
	text-decoration: none;
	color: white;
}


.main li {
	display: inline-flex;
	margin-left: 6px;
	padding: 10px;
}

.main li:hover {
	background: rgb(87, 83, 83);
	border-radius: 3px;
}

.author img {
	width: 700px;
	margin: 20px auto;
}


